# Database
DATABASE_URL=postgresql://user:password@host/database

# Facebook
FB_ACCESS_TOKEN=your_facebook_token
FB_PAGE_ID=your_page_id

# LLM APIs (au moins 1 requis)
GEMINI_API_KEY=your_gemini_key
GROQ_API_KEY=your_groq_key


# Image APIs (optionnels - gratuits)
# Unsplash : https://unsplash.com/developers
UNSPLASH_ACCESS_KEY=your_unsplash_key

# Pexels : https://www.pexels.com/api/ 
PEXELS_API_KEY=your_pexels_key


# Config
PUBLICATION_HOUR=19
PUBLICATION_MINUTE=0
ENVIRONMENT=production