fastapi==0.109.2
uvicorn[standard]==0.27.1
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pydantic-settings==2.1.0

# Scheduler ASYNC
apscheduler==3.10.4

# LLMs ASYNC
google-generativeai==0.3.2
groq==0.11.0

# HTTP ASYNC
httpx==0.25.2

# Utils
requests==2.31.0